<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IdentificationServlet</servlet-name>
        <servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
        <init-param>
            <param-name>IncludePhoto</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>AuthenticationService</param-name>
            <param-value>java:global/com.mycompany_beidtest_war_1.0-SNAPSHOT/MyAuthenticationServiceBean</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PhotoServlet</servlet-name>
        <servlet-class>be.fedict.eid.applet.service.PhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdentificationServlet</servlet-name>
        <url-pattern>/identification-service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoServlet</servlet-name>
        <url-pattern>/photo.jpg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
